
<div class="post-content">
    
    <% if post.user.image.attached? %>
        <img src= "<%= rails_blob_path(post.user.image) %>",width="40", height= "40">
    <% else %>
        <img src= "assets/1.png",width="40", height= "40">
    <% end %>
    
    <!--ユーザー名-->
    <%= link_to "#{post.user.nickname} さん", user_path(post.user) %>
    <!--投稿内容-->
    <p><%= post.text %></p>
    <!--投稿時刻-->
    <p><%= post.created_at.strftime("%Y-%m-%d %H:%M") %></p>
    
    <div class="btns-container">
        <!--マイページを表示しているのがログイン中のユーザーかどうかでボタンの条件分岐-->
        <% if current_user && current_user.id == post.user.id %>
            <%= link_to "投稿の詳細", "/posts/#{post.id}" , class: "btn btn-info" %>
            <!--コメントへのリンク先-->
            <%= link_to "/posts/#{post.id}/comments/new", class:"btn btn-warning" do %>
                <span><i class="glyphicon glyphicon-pencil"></i>コメント</span>
            <% end %>
            
            <div class="btn-group">
                <%= link_to "編集",edit_post_path(post), class: "btn-edit btn btn-success " %>
                <!--bootstrapでモーダル遷移の削除ボタン-->
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete_post">
                	削除
                </button>
                
                <!-- モーダル・ダイアログ -->
                <div class="modal fade" id="delete_post" tabindex="-1">
                	<div class="modal-dialog">
                		<div class="modal-content">
                			<div class="modal-header">
                				<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
                				<h4 class="modal-title">コメントの削除</h4>
                			</div>
                			<div class="modal-body">
                				<p>以下のコメントを削除して宜しいですか？</p>
                				<p>投稿内容：<%= post.text %></p>
                			</div>
                			<div class="modal-footer">
                				<button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                				<%= link_to "削除","/posts/#{post.id}", method: :delete, class:"btn-delete btn btn-danger" %>
                			</div>
                		</div>
                	</div>
                </div>
                <!--元コードここまで-->
            </div>
            
            
        <% else %>
            <%= link_to "投稿の詳細", "/posts/#{post.id}" , class: "btn btn-info" %>
                <!--コメントへのリンク先-->
            <%= link_to "/posts/#{post.id}/comments/new", class:"btn btn-warning" do %>
                <span><i class="glyphicon glyphicon-pencil"></i>コメント</span>
            <% end %>
        <% end %>
        
        <!--ユーザーログイン時はいいねのスイッチ機能をつける-->
    
        <% if user_signed_in? %>
            <!--ログインユーザーがその投稿にいいねしているならばいいねdelete,していないならばcreate-->
            <% unless post.liking_user?(current_user) %>
                <%= link_to post_likes_path(post), method: :post do %>
                    <i class="far fa-thumbs-up"></i>
                <% end %>
            <% else %>
                <%= link_to "/posts/#{post.id}/likes/#{current_user.id}", method: :delete do %>
                    <i class="fas fa-thumbs-up"></i>
                <% end %>
            <% end %>
            <!--いいねの数を表示-->
             <span class="good_count"><%= post.liking_count %></span>
            
            
        <!--ログインしていない時のunless文分岐-->
        <% else %>
            <%= link_to new_user_registration_path do %>
                <i class="far fa-thumbs-up"></i>
                <span class="good_count"><%= post.liking_count %></span>
            <% end %>
        <% end %>
    </div>


    
</div>