
<div class="post-content">
    <% if post.user.image.attached? %>
        <img src= "<%= rails_blob_path(post.user.image) %>",class="img-circle",width="40", height= "40">
    <% else %>
        <img src= "assets/1.png",class="img-circle",width="40", height= "40">
    <% end %>
    
    
    <%= link_to "#{post.user.nickname} さん", user_path(post.user) %>
    <p>投稿内容 : <%= post.text %></p>
    <%= link_to "投稿の詳細", "/posts/#{post.id}" %>
    <% if current_user && current_user.id == post.user.id %>
        <%= link_to "【編集】",edit_post_path(post), class: "btn-edit" %>
        <%= link_to "【削除】","/posts/#{post.id}", method: :delete, class:"btn-delete"  %>
    <% end %>
    
    <% if user_signed_in? %>
        <%= link_to post_likes_path(post), method: :post do %>
            <i class="far fa-thumbs-up"></i>
        <% end %>
        <span class="good_count"><%= post.liked_user.length %></span>
        <% if post.liked_user.pluck("id").include?(current_user.id) %>
            <%= link_to "いいねの削除", "/posts/#{post.id}/likes/#{current_user.id}", method: :delete %>
        <% end %>
        <%= link_to "コメント", "/posts/#{post.id}/comments/new" %>
    <% end %>
</div>