<div class="new-comment-wrapper">
    <div class="container">
        <div class="panel panel-warning">
            <div class="panel-heading">aa</div>
            <div class="panel-body">ff</div>
        </div>
        <div class= "commented-post">
            <p>投稿ユーザー : <%= @user.nickname %> さん</p>
            <P>投稿内容：<%= @post.text %></P>
        </div>
        
        <div class="new-comment">
            <!-- ここに送信するコメントを付け加えていく-->
            <%= form_for [@post,@comment] do |f| %>
                <%= f.label(:comment, "コメント内容",class:"d-block") %>
                <br>
                <%= f.text_area :text, placeholder: "コメントを入力して下さい",class:"comment-text" %>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.hidden_field :post_id, value: @post.id %>
                <br>
                <%= f.submit "コメントする", class:"submit btn btn-primary" %>
            <% end %>
        </div>
    </div>
</div>