<div class = "mypage-edit-wrapper">
    <div class="edit-title">
        <h3>ユーザー情報の編集</h3>
    </div>
    
    <div class="edit-content">
        <!-- ユーザーの編集　-->
        <%= form_for @user do |f| %>
            <%= f.label(:image,"ユーザー画像") %>
            <%= f.file_field :image, placeholder:"画像をアップロード" %>
            <%= f.label(:nickaname,"ユーザー名:") %>
            <%= f.text_field :nickname, maxlength:20 %>
            <%= f.label(:age,"年齢:") %>
            <%= f.number_field :age %>
            <%= f.label(:hobby,"趣味:") %>
            <%= f.text_field :hobby, maxlength:50 %>
            <%= f.label(:introduction,"自己紹介:") %>
            <%= f.text_area :introduction, maxlength:400 %>
            <%= f.submit "変更" %>
        <% end %>
    </div>
    
</div>