<div class = "mypage-wrapper">
    <div class="mypage-container container">
        
        <!--bootstrapを用いてユーザー情報をパネルで表示-->
        <div class = "profile panel panel-warning">
            <div class="profile-title text-center panel-heading">
                <!--プロフィールのタイトル名-->
                <% if current_user.id == @user.id %>
                    <p>[あなたのプロフィール]</p> 
                <% else %>
                <!-- ユーザーネームの変数の追加-->
                    <% user_name = @user.nickname %>
                    <%= simple_format(user_name + "さんのプロフィール") %>
                <% end %>
                
            </div>
            <div class = "profile-contents panel-body">
                <!--ユーザーのイメージ画像-->
                <!--登録の有無による条件分岐1-->
                <% if @user.image.attached? %>
                    <img src= "<%= rails_blob_path(@user.image) %>",width="40", height= "40">
                    <!--条件分岐２-->
                <% else %>
                    <img src= "assets/1.png",width="40", height= "40">
                    <!--閉じタグ-->
                <% end %>
                <!--ユーザー名-->
                <span><%= @user.nickname %> さん</span>
                <!--年齢-->
                <p>年齢 : <%= @user.age %></p>
                <!--趣味-->
                <p>趣味 : <%= @user.hobby %></p>
                <!--自己紹介-->
                <p>自己紹介 : <%= @user.introduction %></p>
                <!--ログインユーザーのみユーザー情報編集画面へのリンク-->
                <% if current_user.id == @user.id %>
                    <%= link_to edit_user_path(current_user) do %>
                        <button class="btn btn-primary"><i class="glyphicon glyphicon-wrench" style="padding-right:5px;"></i>プロフィールの編集</button>
                    <% end %>
                <% end %>
                
            </div>
        </div>
        
        
         <!--bootstrapを用いて『投稿一覧』と『いいねした投稿一覧』をタブで表示-->
        <div class="login-user-contents">
           
            <!--タブ項目-->
            <ul class="nav nav-tabs" style="margin-bottom:15px;">
                <li class="active"><a href="#home" data-toggle="tab"><%= @user.nickname + "さんの投稿一覧" %></a></li>
                <li><a href="#about" data-toggle="tab">いいねした投稿</a></li>
            </ul>
            <!--タブコンテンツ-->
            <div class="tab-content">
                <!--ユーザーの投稿一覧-->
                <div class="user-posts-wrapper tab-pane active" id="home">
                    <div class="login-user-posts">
                        <%= render partial: "post", collection: @posts %>
                    </div>
                </div>
                <!--ユーザーがいいねした投稿-->
                <div class="liking-posts-wrapper tab-pane" id="about">
                    
                    <div class="liking-post">
                        <%= render partial: "liked_post", collection: @liked_posts %>
                    </div>
                </div>
            </div>
            
            
            
        </div>
        
        
    
    
    </div>
</div>

