<div class = "new-post-wrapper container">

    <%= form_for @post, html:{class: "form-horizontal"} do |f| %>
                <div class="form-group">
                    <%= f.label :post, "投稿内容", style:"display:block;" %>
                    <%= f.text_area :text, placeholder:"入力してください", maxlength:400, size:"40x10", class:"text-content form-controll" %>
                    <%= f.hidden_field :user_id, :value => current_user.id %>
                </div>
                <div class="form-group">
                    <%= f.submit "投稿", class:"btn-submit btn btn-primary" %>
                </div>
                
            <% end %>
    
</div>